.card_section {
  margin: 40px 0 0 0;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
  justify-content: center;
  margin: 34px 0 0 0;
}

.card_name {
  text-align: center;
}

.card_image {
  height: 328px;
  width: 328px;
  border-radius: 10px;
}
